#brand-section{
    display: flex;
    flex-basis: 30%;
    justify-content: center;
    a{
    text-transform: uppercase;
    position: relative;
    &::after{
        @include niceUnderLine;
    }
    &:hover::after{
        transform-origin: left;
        transform: scale(1);
    }
   
    }
   
}