.modal{
        border: 1px solid;
        box-shadow: -3px -2px 15px rgba(#000, .5);
        height: 300px;
        width: 400px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 3px;
       
    
    }

    .full-modal{
        position: fixed;
        box-shadow: -3px -2px 15px rgba(#000, .5);
        height: 85%;
        width: 85%;
        //transform: translateX(-55%);
        z-index: 5;
        background: $white-color;
    }

    .modal-header{
        background: #444;
        color: $white-color;
        padding: .5em;
        display: flex;
        height: 35px;
        justify-content: space-between;
        .button-area{
            flex-basis: 25%;
            display: flex;
            justify-content: flex-end;
            i{
                cursor: pointer;
                margin: 0 4px;
            }
        }
    }
    .modal-content{
        padding: 1em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20vh;
        flex-wrap: wrap;
    }

    .spinner {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        background: #bababa;
    }

    .spinner1{
        &:after{
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            bottom: -4px;
            right: -4px;
            border-radius: 50%;
           // border: 4px solid $green-blue-color;
           // border-left: none;
           // border-right: none;
           border: 4px solid transparent;
           border-color: $green-blue-color transparent;
            animation: spin 1s linear infinite;
        }
    }

    .spinner2{
        animation: spin2 1s linear infinite;
        &::after,&::before{
            content: '';
            background: #930;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            top: -10px;
            left: 50%;
            margin-left: -5px;
            animation: bouncy 1s ease-in-out infinite;
        }
        &:after{
            top: auto;
            bottom: -10px;
            animation: bouncy .5s ease-in-out infinite;
        }
    }

    .spinner3{
        background: none;
        border: 2px solid $green-blue-color;
        &::after{
            content: '';
            width: 4px;
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            border-radius: 2px;
            margin-left: -2px;
            background: $green-blue-color;
            transform-origin: top center;
            animation: spin2 2s linear infinite;
        }
    }

    .spinner4{
        &::after,&::before{
            content: '';
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border-radius: 50%;
            position: absolute;
            background: $green-blue-color;
            animation: pulse 2s linear infinite;
        }
        &:after{

            animation: pulse 2s linear 2.3 infinite;
        }
    }

    .spinner5{
        height: 0;
        width: 0;
        span{
            position: absolute;
            height: 17px;
            width: 17px;
            top: 0;
            border-radius: 50%;
            background: $green-blue-color;
            &:nth-child(1){
                 animation: bouncy2 1s ease-in-out infinite;  
                 left: -18px;              
            }
            &:nth-child(2){
                animation: bouncy2 1s ease-in-out .33s infinite;
            }
            &:nth-child(3){
                left: 18px;
                animation: bouncy2 1s ease-in-out .66s infinite;
            }
        }
    }

    .loader1{
        margin-left: 20px;
        height: 0px;
        width: 100px;
        background: $green-blue-color;
        position: relative;
        display: inline-block;
        border-top: 4px dashed $green-blue-color;
        &::after,&::before{
            content: '';
            height: 0;
            width: 0;
            border: 15px solid $green-blue-color;
            border-radius: 50%;
            top: 50%;
            margin-top: -18px;
            position: absolute;
            border-right-color: transparent;
            animation: chompbottom 2s ease-out infinite,move 2s linear infinite;
        }
        &:after{
           // left: -20px;
            border-top-color: transparent;
            animation: chomptop 2s ease-out infinite,move 2s linear infinite;
        }
    }
    