#main-navbar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em;
    flex-direction: column;
    background: darken($green-blue-color, 15%);
    height: 99vh;
   
    ul{
        li{
            margin-left:.5rem;
            color: $white-color;
            width: 100%;
                i{
                    margin-right: 10px;
                }
                a{
                    color: $white-color;
                    width: 100%;
                    padding: .5rem;
                    border-radius: 2px;
                    display: inline-block;
                    transition: all ease-in-out 200ms;
                    &:hover{
                        background: darken($green-blue-color, 10%);
                    }
                    
                }
          
            
        }
    }

}
.router-link-exact-active{
    background: darken($green-blue-color, 20%);
}