$gray-color : #fafafa;
$blue-color : #27a;
$white-color : #fff;
$black-color : #000;
$green-color : #0e2;
$green-blue-color : #11939A;
$red-color : #e50914;
$navy-color : #0097a7;
$yellow-color : #efc400;
$dark-blue : #2a2e42;


$normal-padding : 3px;
$normal-margin : 5px 6px;